.vlt-footer--style-1{
    background-image: none;
}
.vlt-footer{
    background-color: #94917e;
}

.vlt-project-showcase__image {
	filter: grayscale(100%) brightness(0.4) blur(0px);

}
.vlt-work {
	filter: grayscale(100%) brightness(1) blur(0px);

}
.vlt-work:hover {
	filter: grayscale(0%) brightness(1) blur(0px);

}


.vlt-main{
	background: radial-gradient(circle, rgb(156 152 133) 0%, rgba(212,206,176,1) 25%, rgba(156,152,133,1) 100%);
    background-color: #6a6a6a; 
}
.has-black-background-color{
	background: radial-gradient(circle, rgb(210 205 176) 0%, rgba(212,206,176,1) 59%, rgba(156,152,133,1) 100%);
    background-color: #6a6a6a;
}

.vlt-page-title__title{
	color: white;
}
/* cursor
-------------------------------------------- */

.vlt-cursor
{
    position: fixed;
    z-index: 110; 
    top: 0;
    left: 0;
    cursor:none;

    visibility: hidden;

    pointer-events: none;

    mix-blend-mode: difference;
    -webkit-filter: grayscale(10) invert(1);
            filter: grayscale(10) invert(1);
}
.vlt-cursor .outer,
.vlt-cursor .inner
{
    position: fixed;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 80px;
    height: 80px;

    pointer-events: none;
}
.vlt-cursor .outer .circle,
.vlt-cursor .outer .icon,
.vlt-cursor .inner .circle,
.vlt-cursor .inner .icon
{
    -webkit-transition: all 300ms;
            transition: all 300ms;
    -webkit-transform: scale(.8) translate3d(0, 0, 0);
            transform: scale(.8) translate3d(0, 0, 0);

    opacity: 0;
}
.vlt-cursor .outer .circle
{
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%; 
    -webkit-box-shadow: inset 0 0 0 80px #101010;
            box-shadow: inset 0 0 0 80px #101010;
}
.vlt-cursor .inner
{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.vlt-cursor .inner .icon
{
    font-size: 16px;
    line-height: 0; 

    display: inline-block;

    color: #101010;
}
.vlt-cursor.is-active
{
    visibility: visible;
}
.vlt-cursor.is-visible .outer .circle,
.vlt-cursor.is-visible .inner .icon
{
    -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0); 

    opacity: 1;
}
.vlt-cursor.is-visible .inner .icon
{
    -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
}
.swiper-slide{
 cursor:pointer;
}


.vlt-gap-120
{
    height: 120px;
}
@media (min-width: 100px) and (max-width: 575px)
{
    .vlt-gap-120
    {
        height: 20px;
    }
}
@media (min-width: 575px) and (max-width: 767px)
{
    .vlt-gap-120
    {
        height: 120px;
    }
}
@media (min-width: 767px) and (max-width: 991px)
{
    .vlt-gap-120
    {
        height: 120px;
    }
}

.vlt-gap-150
{
    height: 150px;
}
@media (min-width: 100px) and (max-width: 575px)
{
    .vlt-gap-150
    {
        height: 50px;
    }
}
@media (min-width: 575px) and (max-width: 767px)
{
    .vlt-gap-150
    {
        height: 150px;
    }
}
@media (min-width: 767px) and (max-width: 991px)
{
    .vlt-gap-150
    {
        height: 150px;
    }
}

/*@media (min-width: 100px) and (max-width: 575px){
.vlt-page-title--style-4 .vlt-page-title__title {
    text-align:center;
    padding: 0px 0 50px;
}
}*/
@media (min-width: 100px) and (max-width: 575px){
.vlt-page-title--style-4 {
    text-align:center;
    padding: 100px 0 50px;
}
}
.vlt-page-title__overlay{
    background-color: rgba(29,16,1,.4);
}
body{
    background-color:#94917e;
}


